# Ignore Play! working directory #
bin/
/db
.eclipse
/lib/
/logs/
/modules
/project/project
/project/target
/target
tmp/
test-result
server.pid
*.iml
*.eml
/dist/
.cache
logs
target
.history
/out
/.classpath
/.project
/RUNNING_PID
/.settings
/.target
.worksheet
/log
*.zip
.cache-main
.cache-tests
